<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Spanish Flash Card App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Welcome to the Spanish Flash Card App!</h1>
        <div class="button-container">
            <a class="button" href="{{ url_for('learn') }}">Learn Spanish</a>
            <a class="button" href="{{ url_for('incorrect') }}">See Incorrect Words</a>
        </div>
    </div>
</body>
</html>
